body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 15px;
  font-family: "Lato";
}
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}


.search {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
.search > img {
  width: 20px;
  height: 20px;
}

.nav {
  align-items: center;
  display: flex;

}
.nav >a {
  margin-right: 48px;
  color: white;
  text-decoration: none;
}

.content {
  margin-top: 46px;
  max-width: 2000;
}



.slides > img{
  width: 100%;
  height: auto;
}
.slide-discribe {
  font-weight: 400;
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50% , 0%);
}




.the-band {
  display: block;
  box-sizing: border-box;
  max-width: 800px;
  padding: 64px 16px;
  text-align: center;
  margin: auto;
}
#the-bands {
  text-align: justify;
}
h3 , h2 {
  font-size: 24px;
  text-align: center;
}

.row{
  display: table;
}
.player {
  float: left;
  max-width: 33.33333%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.player > img {
  width: 60%;
  margin-bottom: 16px;
  border-radius: 4px;
}


.tour {
  display: block;
  color: #fff;
  background-color: #000;
}
.Tour-contant {
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.Tour-contant > p {
  opacity: 0.6;
}
.Tour-contant > h2 {
  letter-spacing: 4px;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 30px;
}
ul {
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;
  color: #757575;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
li {
  display: list-item;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd ;
}
span {
  display: inline-block;
  text-align: center;
  margin-left: 16px;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #f44336;
}
#circule {
  background-color: #000;
  border-radius: 100%;
  float: right;
  margin-right: 16px;
}
